{{!-- views/pages/actualizar-estado-de-cubiculo-page/actualizar-estado-de-cubiculo.hbs --}}
{{#*inline "styles"}}
<link rel="stylesheet" href="/css/pages/actualizar-estado-de-cubiculo.css">
{{/inline}}

{{> styles}}

<div class="container actualizar-estado-cubiculo">
    <div class="row justify-content-center mt-5">
        <div class="col-12 text-center">
            <h2 class="title">ACTUALIZAR ESTADO DE CUBÍCULO</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 mb-4">
            <div class="p-3 bg-light rounded shadow-sm">
                <h5>Cubículo seleccionado:</h5>
                <input type="text" class="form-control mb-3" id="cubiculoSeleccionado" disabled>
                <h5>Estado:</h5>
                <select id="estadoSeleccionado" class="form-control mb-3">
                    <option value="disponible">Disponible</option>
                    <option value="ocupado">Ocupado</option>
                </select>
                <button class="btn btn-primary btn-lg w-100 mt-3" onclick="actualizarEstado()">ACTUALIZAR</button>
            </div>
        </div>
        <div class="col-12 col-md-8 mb-4">
            <div class="cubiculos-container">
                {{#each cubiculos}}
                <div class="cubiculo" data-cubiculo="{{cubiculo_id}}" onclick="seleccionarCubiculo('{{cubiculo_id}}', '{{hora_inicio}}', '{{estado}}')">
                    <img src="{{imagenUrl}}" alt="Cubículo {{cubiculo_id}}">
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script>
function seleccionarCubiculo(cubiculoId, hora, estado) {
    document.querySelectorAll('.cubiculo').forEach(cubiculo => {
        cubiculo.classList.remove('selected');
    });
    const selectedCubiculo = document.querySelector(.cubiculo[data-cubiculo="${cubiculoId}"]);
    selectedCubiculo.classList.add('selected');
    document.getElementById('cubiculoSeleccionado').value = cubiculoId;
    document.getElementById('estadoSeleccionado').value = estado.toLowerCase();
}

function actualizarEstado() {
    const cubiculo = document.getElementById('cubiculoSeleccionado').value;
    const estado = document.getElementById('estadoSeleccionado').value;
   

    if (cubiculo) {
        fetch('/cubiculos/actualizar', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                cubiculo_id: cubiculo,
                estado_actualizado: estado
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Error al actualizar el estado del cubículo');
            }
            return response.json();
        })
        .then(data => {
            alert('Estado del cubículo actualizado correctamente');
            location.reload();
        })
        .catch(error => {
            console.error('Error al actualizar el estado del cubículo:', error);
            alert('Ocurrió un error al actualizar el estado del cubículo. Inténtelo de nuevo más tarde.');
        });
    } else {
        alert('Seleccione un cubículo para actualizar su estado.');
    }
}
</script>